.p-menubar {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 83px;
  z-index: 2;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
  padding: 17px 18px 13px 18px;
  font-size: 13px;
  font-weight: 600;
  font-family: Arial, 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}
.p-menubar .p-menuitem:not(.p-menuitem-content):not(.p-disabled).p-focus > .p-menuitem-content {
  background: none;
}
.p-menubar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.p-menubar .p-submenu-list {
  min-width: 0;
}
